@page "/mihistoria"

<h1>Mi historia</h1>
<p>Soy Sofia Renata Silva Méndez</p>

<div class="row">

    <div class="col-md-4">
        <div class="card">
            <img src="ImagenesSofi/Cumple.jpeg" class="card-img-top" />
            <div class="card-body">
                <h5>Cumpleaños 🎂</h5>
                <p style="font-size:15px;">Actualmente tengo 19 años.</p>
                <button class="btn btn-primary">Conocer más</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="ImagenesSofi/Hobbie.jpeg" class="card-img-top" />
            <div class="card-body">
                <h5>Hobbies 👟</h5>
                <p>Me gusta salir a correr. <br />
                   Mi mayor distancia han sido 10K.</p>
                <button class="btn btn-primary">Conocer más</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <img src="ImagenesSofi/Estudios.jpeg" class="card-img-top" />
            <div class="card-body">
                <h5>Formación 👩🏻‍💻</h5>
                <p>Estudio Ingeniería en Software</p>
                <button class="btn btn-primary">Conocer más</button>
            </div>
        </div>
    </div>
</div>



@code {

}
